/* ABOUT US */
.about-us .col{
    margin-bottom: 1.25rem;
}

@media screen and (min-width:768px) {
    .about-us .col{
        padding-left: 2.8125rem;
        padding-right: 2.8125rem;
    }
    .about-us .col-big{
        width: 65%;
    }
    .about-us .col-small{
        width: 35%;
    }
}

@media screen and (min-width:992px) {
    .about-us .col-big{
        width: calc((100% / 3)*2);
    }
    .about-us .col-small{
        width: calc(100% / 3);
    }
}