/* TESTIMONIALS */
.testimonials .card-debug{
    background-color: var(--secondary-color);
    height: 100px;
    color: white;
    text-align: center;
}
.testimonials .col{
    margin: .625rem 0;
}
.partner{
    text-align: center;
}

@media screen and(min-width:768px) {
    .testimonials .description{
        width: 70%;
    }
    .testimonials .img {
        width: 30%;
    }
    .testimonials .card-debug{
        text-align: left;
    }
}