/* TESTIMONIALS */
.testimonials img {
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin: 1.25rem auto;
}
.testimonials .card {
    background-color: var(--secondary-color);
    color: white;
}
.testimonials .col{
    margin: .625rem 0;
}
.testimonials strong {
    display: block;
    padding: 1.25rem 0;
}

@media screen and(min-width:768px) {
    .testimonials .description{
        width: 80%;
    }
    .testimonials .col {
        width: 20%;
    }
    .testimonials .description, strong {
        text-align: left;
    }
}